@charset "utf-8";

#wrap{
  display: grid; 
  margin: 0 auto;
  justify-content: center;
  align-items: center; 
}






*{
  margin: 0; padding: 0;
  top: 0px;
  left: 0px;
  /* margin:  30px; */
  font-size: 20px;
  color: #707070;
  /* width: 1920px;
  height: 9193px; */
  text-align: center;
}
body{
  display: grid; 
  margin: 0 auto;
  justify-content: center;
  align-items: center; 
}
nav{
display: flex;
justify-content: space-around; 
}
nav > ul{ 
  display:flex;
  margin: 140px;
  /* background-color: aquamarine; */
}
li >img{position: relative; text-align: center; margin-top: -300px;}
li{list-style: none;}
i{ font-size: 44px; margin: 20px 600px 20px 650px; padding: 20px;}

a{color: #444;
font-size: 43px;text-decoration: none;
}
header {position: fixed; width: 100%; top:0; left: 0;z-index: 9999; border-bottom: 1px solid rgba(255, 255, 255, 0.059);}
.innerHeader {width: 1300px; background: none; margin: 0 auto; padding: 0 40px; box-sizing:border-box; height: 80px; overflow: hidden;transition: all 0.5s;}
.innerHeader.on {height: 370px; background: #E6B3AA; transition: all 0.5s;}
.innerHeader .logo {float: left;line-height: 100px; margin-top: 20px; width: 70px;}
.innerHeader .gnb {float: left; margin-left: 200px; margin-top: 20px;}
.innerHeader .gnb > li {float: left; width: 150px; position: relative;}
.innerHeader .gnb > li > a {display: block; text-align: center; font-size: 17px;color:#444; text-transform: uppercase;letter-spacing: 1px; line-height: 80px;}
.innerHeader .gnb > li >i {display: block; text-align: center; font-size: 17px;color:#444; text-transform: uppercase;letter-spacing: 1px; line-height: 80px;}
.innerHeader .gnb > li > .inner {position: absolute; width: 100%; left: 0; top:90px; display: none;}
.innerHeader .gnb > li > .inner.on {display: block;}
.innerHeader .gnb > li > .inner li a {display: block; width: 100%; height: 100%;text-align: center;font-size: 14px; line-height: 3; color:#444;}
.innerHeader .gnb > li > .inner li a:hover, .innerHeader .gnb > li > .inner li a:focus {color:#444; transition: all 0.3s;}  


#wrap{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
section{
  width:1300px;
  /* margin: 0 auto; */
  display: grid;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  /* outline: 1px solid #707070; */

}
.items1{
  margin-top: 150px;
  display: grid;  
  grid-template-columns:500px 500px;
  grid-template-rows:repeat(2, 500px);
  /* gap: 10px; */ 
}
.item1{
  /* background-color:darkcyan; */
  outline: 1px solid #707070;

  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.item1 img{
  width: 300px; height: 300px; 
  object-fit: cover;
  object-position: center center;
}
.item1 > p{  margin-top: 70px;
  text-align: center;
  width: 224px;
  height: 224px;font-size: 18px;
  color: #707070;
}
.item1 > P> span{
  text-align: center;
  width: 224px;
  height: 224px;
  color: #C9797A;
}
.items2{
  display: grid;  
  grid-template-columns:repeat(3,300px);
  grid-template-rows:repeat(1, 600px);
  gap: 50px;
}
.item2{
 /* outline: 1px solid #707070;m */
  margin: 50px;
  color: aliceblue;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.item2 p{
font-size: 22px;
color: #707070;
text-align: center;
justify-content: center;
align-items: center;
font-weight: 300;
}
.item2 button{
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #707070;
  background-color: #fff;
cursor: pointer;
}
.item2 img{
  width: 200px; height: 200px; 
  object-fit: cover;
  object-position: center center;
}
.items3{ display: grid;  
  grid-template-columns:repeat(2,500px);
  grid-template-rows:repeat(1, 500px);
}
.item3{  
  /* background-color:beige; */
  color: aliceblue;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.item3 img{  
overflow: hidden;
width: 500px;
}
.items4{ display: grid;  
  grid-template-columns:repeat(1,1000px);
  grid-template-rows:repeat(1, 600px);
}
.item4{ 
  /* background-color:skyblue; */
color: #707070;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;

  /* margin: 30px; */
}
.item4 h3{ 
  font-size: 22px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item4 h4{
  font-size:22px ;
  color: #EDC5BA;
  text-align: center;
}
.item5 b{
  font-size:22px ;
  color: #EDC5BA;
  text-align: center;
}
.item4 .item-img {
  /* width:1000px; */display: flex;
  height: 267px; margin: 10px;
}
.item4 .item-img img
{display: grid;
  width: 174px;
  height: 267px;
}
.items5{ display: grid;  
  grid-template-columns:repeat(2,500px);
  grid-template-rows:repeat(3, 300px);
}
.item5{  
  outline: 1px solid #707070;
  color: #707070;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.item5{  
  outline: 1px solid #707070;
  color: #707070;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}
.item5 h6{  
  color: #EDC5BA;
  text-align: right;
  font-weight: 400;
  font-size: 22px;
  margin-left: 200px;

}
.item5 p{  
  color: #707070;
  text-align: right;
  font-weight: 300;
  margin-top: 100px;
font-size: 16px;
  /* letter-spacing: ; */
}
.item5 span{  
  color: #707070;
  text-align: left;
  font-weight: 300;
  margin-top: 100px;
  font-size: 16px;
}
.item5 span b{  
  color: #EDC5BA;
  text-align: left;
  margin-top: 100px;
 ;font-size: 16px;
  
}
.items6{ display: grid;  
  grid-template-columns:repeat(1,1000px);
  grid-template-rows:repeat(1, 500px);
}
.item6{  
  /* background-color:lightsalmon; */
  color: #707070;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.item6 p{  
  font-size:26px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.item6 span{  
  font-size: 26px;
color: #EDC5BA;
}
.item6-span span{  
color: #707070;
font-size: 20px;
margin-top: -100px;
text-align: center;
display: grid;
justify-content: center;
align-items: center;
;

}

.item6 >i{
outline:  1px solid #707070;
}
.items7{ display: grid;  
  grid-template-columns:repeat(2,500px);
  grid-template-rows:repeat(1, 500px);
}
.items7 img{
  
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center center;
  }

.item7{  background-color:lightslategray;
  color: aliceblue;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.items8{ 
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;  
  grid-template-columns:repeat(4,250px);
  grid-template-rows:repeat(2, 250px);
}
.items8 img{
  overflow: hidden;
  width: 250px;
}
.item8{  
  background-color:#fff;
  color: aliceblue;
  font-size: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  outline: 1px solid #707070;
}
.line{

  width: 1300px;
  height: 1px;
  background-color: #707070;
  text-align: center;
}
.items9{ display: grid;  
  grid-template-columns:repeat(1,1000px);
  grid-template-rows:repeat(1, 150px);
}
.item9{ 
   /* background-color:green; */
  color: #707070;
  font-size: 12px;
  display: grid;
  justify-content: center;
  align-items: center;
}