@charset "utf-8";

li { list-style: none; }
a { text-decoration: none; color: #707074;
  font-size: 43px;text-decoration: none;}
*{
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #707070;
  text-align: center; 
  justify-content: center;
  
}
img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
nav{
display: flex;
justify-content: space-around; 
}
nav > ul{ 
  display:flex;
  margin: 150px;
  /* background-color: aquamarine; */
}
/* i{ font-size: 44px; margin: 20px 600px 20px 650px; padding: 20px;} */


header {position: fixed; width: 100%; top:0; left: 0;z-index: 9999; border-bottom: 1px solid rgba(255, 255, 255, 0.059);}
.innerHeader {width: 1300px; background: none; margin: 0 auto; padding: 0 40px; box-sizing:border-box; height: 80px; overflow: hidden;transition: all 0.5s;}
.innerHeader.on {height: 370px; background: #E6B3AA; transition: all 0.5s;}
.innerHeader .logo {float: left;line-height: 120px; margin-top:0px; width: 60px;}
.innerHeader .gnb {float: left; margin-left: 200px; margin-top: 20px;}
.innerHeader .gnb > li {float: left; width: 150px; position: relative;}
.innerHeader .gnb > li > a {display: block; text-align: center; font-size: 17px;color:#444; text-transform: uppercase;letter-spacing: 1px; line-height: 80px;}
.innerHeader .gnb > li >i {display: block; text-align: center; font-size: 17px;color:#444; text-transform: uppercase;letter-spacing: 1px; line-height: 80px;}
.innerHeader .gnb > li > .inner {position: absolute; width: 100%; left: 0; top:90px; display: none;}
.innerHeader .gnb > li > .inner.on {display: block;}
.innerHeader .gnb > li > .inner li a {display: block; width: 100%; height: 100%;text-align: center;font-size: 14px; line-height: 3; color:#444;}
.innerHeader .gnb > li > .inner li a:hover, .innerHeader .gnb > li > .inner li a:focus {color:#444; transition: all 0.3s;}  

section{
  display: grid;
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
  /* outline: 1px solid #707070; */
}
#shopify-section{
  display: grid;
  width: 100%;
  height: 100%;
  font-size: 50px;
  /* background-color: aquamarine; */
  /* outline: 1px solid #707070; */
}

#box1{
  background-color: #E6B3AA;
  /* position: relative; */
  grid-template-columns:  repeat(2, 638px);
  grid-template-rows: repeat(2, 683px);
  color: #707070;
  outline: 1px solid #707070;
  /* margin: 30px; */
  /* gap: 30px; */
}
.section1{
 width: 700px;
 height: 706px;
  background-color: #fff; 

}
div.section1 >div.img-box> img{
  width: 308px;  height:332px;
  /* background-color: chartreuse
  ; */
  margin-top: 50px;
  margin-bottom: -40px;
}
.section1 > div.btn >img {
  width: 140px;  height:54px; 
}
.section2  {display: grid; width:500px; height: 500px; 
  /* outline: 1px solid darkcyan;  */
  text-align: left;}
.section2 .sectionStar {
  height: 20px;
  font-size: 12px;
  text-align: left;
  display: flex;
  margin-left:-210px ;
  margin-top: 10px;
}
.section2 >div.sectionStar > i{
  font-size: 12px;
  text-align: left;

}
.section2 >div.sectionStar > p{
  font-size: 12px;
  text-align: right;
  margin-left: 20px;
  margin-top: 1px;
  /* background-color: pink; */
}
.section2 > .mainText >p{
  margin-bottom: 40px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}
.section2 > .mainText >b{
  margin-bottom: 40px;
  font-size: 12px;
  color: #E5AFA7;
  text-align: left;
  margin-top: 30px;
}
.section2 > .mainText{
  font:normal 22px/40px;
  text-align: left;
line-height: 1.3;  
margin: 30px;
}
.section2 button{
  width: 340px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: #fff;
}
#shopify-section > img{ width: 683px;
  height: 576px;
  /* margin-top: 40px; margin-bottom: 40px; */
}
#box2{
  /* background-color: brown; */
/* outline: 1px solid #707070;  */
display: grid;
grid-template-columns:  repeat(2, 683px);
grid-template-rows: repeat(4, 576px);
margin-bottom: 163px;
  /* outline: 1px solid #707070; */

} 
.section5 {position: relative;  outline: 1px solid #707070;}
.section6 {position: relative;  outline: 1px solid #707070;}
.section7 {position: relative;  outline: 1px solid #707070}
.section8 {position: relative;  outline: 1px solid #707070}
.section9 {position: relative;  outline: 1px solid #707070}
.section10 {position: relative;  outline: 1px solid #707070}
.section4 {position: relative;  outline: 1px solid #707070;
  outline: 1px solid #707070}
.section4 >p{
  position: absolute;
  font-size: 14px;
  color: #707070;
  line-height: 1.5;
  letter-spacing: .3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section5 p{color: #ECC5BF;
font-size: 22px;text-align: right;margin-top: 100px;
line-height: 2; margin-left: -10px;}
.section5 span{
  width: 562px;
  height: 167px;
  margin-top: -100px;
  line-height: 2;
  text-align: right;
}
.section8 p{
  color: #E4AEA4;
  font-size: 22px;
  margin-top: 228px;
  text-align: left;
margin-bottom: -50px;
}
.section8 span{
  width: 517px;
height: 129px;
line-height: 2;
text-align: left;
}
/* .section9 {text-align: right;} */
.section9 p{
  color: #E3ABA0;
  font-size: 22px;
  width: 232px;
height: 32px;
text-align: right;
margin-top:150px;
margin-left: 240px;

}
.section9 span{
  width: 474px;
  height: 17px;
  line-height: 2;
  text-align: right;
  margin-bottom: 150px;
  
}
#box3{
  /* background-color: cadetblue; */
  text-align: center;
  display: grid;
  justify-content: center;
  /* margin-top: -76px; */
   /* outline: 1px solid #707070; */
  gap: 85px;
  grid-template-columns: repeat(3,312px);
  grid-template-rows:  repeat(1,588px); 
  /* outline: 1px solid #707070; */
}
#box3 img{
  width: 206px;
  margin-top: 50px;
  height: 244px;
}
#box3 button{
width: 206px;
height: 50px;
background-color: #fff;

}
#box4 { 
  width: 100%;
  grid-template-columns:  repeat(1, 1200px);
  grid-template-rows:  repeat(1, 343px);
  display: grid;
  margin-top: 50px;
  outline: 1px solid #fff;
  justify-content: center;
  text-align: center;
  outline: none;

}
#box4  .text{
  width: 188px;
height: 85px;
margin-bottom: 60px;
}
#box4 .text p{
margin-bottom:  30px;
}
#box4 .text span{
color: #E4ADA4;
}
#box4 .text button{
  width: 203px;
  height: 47px;
  background-color: #fff;
  margin-top: 30px;
  outline: 1px solid #707070;
}

div.line{  
    width: 1200px;
    height: 1px;
    background-color: #707070;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
  }
  
.section14 p{
  display: inline-block;
  margin-bottom: -70px;
  outline: none;
}

  footer{
    width: 100%;
    grid-template-columns:  repeat(1, 1200px);
    grid-template-rows:  repeat(3, 100px);
    display: grid;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
  }